.auth-form {
  display: flex;
  flex-direction: column;
  width: 300px;

  & .input {
    outline: none;

    &.ng-touched.ng-invalid {
      border: 2px solid orangered;
    }
  }

  & .label {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
}

.buttons {
  display: flex;
  justify-content: flex-end;

  & .register {
    margin-right: 10px;
  }
}
